.form-box {
  display:flex;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  padding: 30px 0px;
}

.show-form {
  display:flex;
  flex-direction: column;
  padding: 30px 0px;
}

.description-box{
  width: 80%;
  padding: 20px;
}

.booking-box{
  width: 30%;
  padding: 20px;
  background-color: $highlight-color;
}

// *{
//  border: solid 1px;
// }

.carousel-control-next, .carousel-control-prev {
  filter: invert(100%);
}
