<div class="footer fixed-bottom">
  <div class = "footer-left float-left">
    <a href="">Contact us</a>
    <a href="">About us</a>
    <a href="">Jobs</a>
    <a href="">Press</a>
    <a href="">Our Terms and Conditions of Use</a>
    <a href="">Privacy</a>
  </div>

  <div class = "float-right">
    <a href=""><i class="fab fa-instagram-square"></i></a>
    <a href=""><i class="fab fa-facebook-square"></i></a>
    <a href=""><i class="fab fa-twitter-square"></i></a>
  </div>

  <div class="fixed-bottom">
    <p><%= "© 2021 Team Daycare Diary" %></p>
  </div>
</div>
