<div class="container">
  <div class="cards">
    <% @caravans.each do |caravan| %>
      <div class="card-caravan">
        <% if caravan.photos.attached? %>
          <%= cl_image_tag caravan.photos.first.key %>
        <% end %>
        <div class="card-caravan-infos">
          <div class="title-description">
            <h2><%= caravan.name %></h2>
          </div>
          <div>
            <h2 class="card-caravan-pricing">€ <%= number_with_precision(caravan.daily_rate, precision: 2) %></h2>
            <a href="/caravans/<%= "#{caravan.id}"%>" class="stretched-link"></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
