<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1619317190381-643a6b28d6e6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1949&q=80); height: 500px;";>
  <div class="container">
    <h1>Rent your caravan today!</h1>
    <p>And enjoy your holiday with the maximum freedom.</p>
  </div>
</div>

<div class="container">
  <h1>Search bar</h1>
</div>

<div class="container">
  <h1>Caravan examples</h1>
</div>

<div class="container">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(https://picsum.photos/200/300); height: 200; crop: fill">
        Caravan Sander
        <a href="/caravans/1" class="stretched-link"></a>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(https://picsum.photos/300/450); height: 200; crop: fill">
        Caravan Ally
        <a href="/caravans/2" class="stretched-link"></a>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(https://picsum.photos/400/600); height: 200; crop: fill">
        Caravan Ilya
        <a href="/caravans/3" class="stretched-link"></a>
    </div>
  </div>
</div>
