.footer{
<<<<<<< HEAD
  background-color: $base-color;
  background-size: cover;
=======
  background-color: rgb(110, 231, 201);
  width: 100%;
  position: absolute;
  bottom: 0;
>>>>>>> master
  height: 150px;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-top{
  display:flex;
  justify-content: space-between;

}

.footer-top a{
  color: white;
  font-size: 15px;
  margin: 5px;

}

.fab{
  color: white;
  font-size: 20px;
  margin: 5px
}

.footer-bottom {
  bottom: 0;
  font-size: 12px;
  margin-left: 5px;
}

.footer-bottom p{
  margin:0;
}
