.navbar {
  background-color: rgb(194, 200, 250);
}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.navbar-brand {
  color: white;
}
